
    <a class="btn btn-link visible-xs" data-toggle="class:nav-off-screen" id="mobileMenu" ng-click="smMenuClick()">
        <!--<i class="fa fa-bars"></i>-->
        <i id="icon" class="fa fa-bars"></i>
    </a>
    <a href="#" class="nav-brand" data-toggle="fullscreen"><img src="app-content/images/logo.jpg" alt="logo" /></a>
    <a class="btn btn-link visible-xs" data-toggle="dropdown">
        <i class="fa fa-ellipsis-v" style="color:#FFF;"></i>
    </a>
    <ul class="dropdown-menu animated fadeInRight" style="top: 47px;left: Calc(100% - 158px);">
        <li>
            <a href="#"><i class="fa fa-download" aria-hidden="true" style="padding-right:10px;"></i>Download Results</a>
        </li>
        <li>
            <a href="#"><i class="fa fa-lock" aria-hidden="true" style="padding-right:10px;"></i>Change Password</a>
        </li>
        <li>
            <!--     <a href="#" ng-click="logOut()"><i class="fa fa-sign-out" aria-hidden="true" style="padding-right:10px;"></i>Logout</a>-->
            <a href="j_spring_security_logout"><i class="fa fa-sign-out" aria-hidden="true" style="padding-right:10px;"></i>Logout </a>
        </li>
    </ul>
