<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <title>run simulation</title>
    
    <meta name="description" content="app, web app, responsive, admin dashboard, admin, flat, flat ui, ui kit, off screen nav" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
    
    <link href="../css/app.v2.css" rel="stylesheet" />
    <link href="../fonts/stylesheet.css" rel="stylesheet" />
    <link href="../css/phealth_responsive.css" rel="stylesheet" />
    <link href="../css/nv.d3.min.css" rel="stylesheet" />
    <link href="../css/bootstrap-spinner.css" rel="stylesheet" />
    <link href="../css/style.css" rel="stylesheet" />
     
     
     
    <script src="../js/jquery-3.1.0.min.js"></script> 
    <script src="../js/angular.min.js"></script>
    <script src="../js/d3.min.js"></script>
    <script src="../js/moment.min.js"></script>
    <script src="../js/nv.d3.js"></script>
    <script src="../js/angular-nvd3.js"></script>
    <!-- <script src="../js/bedplanning-Controller.js"></script> -->
    <!-- <script src="../js/bedplanning-service.js"></script> -->
    <script src="../js/iconate.js"></script>
    <script src="../js/jquery.spinner.min.js"></script>
    
    
</head>
<body style="overflow:hidden;">
    <input type="hidden" id="currentData"/>
    <section class="hbox stretch">
        <!-- .aside -->
  
        <!-- .vbox -->
        <section id="content">
            <section class="vbox">
             
                <header class="header bg-black navbar navbar-inverse headerBg2">
                
                         
                  <div class="collapse navbar-collapse pull-in">
                     <span style="color:#fff;font-size:20px;font-weight:600;margin-top:10px;">   Run simulation</span>   
                        <ul class="nav navbar-nav navbar-right">
                       
                        <!--<li ><a href="#"><img src="../images/icon_file.png"/></a></li>
                        <li><a href="#"><i class="fa fa-download" aria-hidden="true"></i></a></li>
                        <li ><a href="#"><i class="fa fa-floppy-o" aria-hidden="true"></i></a></li>
                        <li><a href="#"><i class="fa fa-trash-o" aria-hidden="true"></i></a></li>-->
                        
                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                     User ABC<i class="fa fa-user" style="color:#FFF;margin-left:10px;"></i>
                                    <b class="caret"></b>
                                </a>
                                <ul class="dropdown-menu animated fadeInLeft">
                                    <li>
                                        <a href="#"><i class="fa fa-download" aria-hidden="true" style="padding-right:10px;"></i>Download Results</a>
                                    </li>
                                    <li>
                                        <a href="#"><i class="fa fa-lock" aria-hidden="true" style="padding-right:10px;"></i>Change Password</a>
                                    </li>
                                    <li>
                                        <!--  <a href="#" ng-click="logOut()"><i class="fa fa-sign-out" aria-hidden="true" style="padding-right:10px;"></i>Logout</a>-->
                                        <a href="j_spring_security_logout"><i class="fa fa-sign-out" aria-hidden="true" style="padding-right:10px;"></i>Logout </a>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                </header>
                 <section class="scrollable" id="pjax-container">
                  <!--  <header>
                        <div class="row b-b m-l-none m-r-none" style="position:fixed">
                            <div class="col-lg-8 col-md-8 col-sm-5 col-xs-12">
                                <h3 class="m-t m-b-none hidden-xs hidden-sm"></h3>
                                <h3 class="m-t m-b-none visible-xs visible-sm" style="padding-right:0px;">BED PLANNING</h3>
                            </div>
                            
                        </div>
                    </header>-->


</body>

</html>