

                    <!-----------------------Wraper-------------------->


                    <div class="wrapper">
                    
                    <div class="col-lg-12 simulation-colom">
                    
                    <div id="parentHorizontalTab">
            <ul class="resp-tabs-list hor_1">
                
                <li>Raw Revenue</li>
                <li>Additional Days</li>
            </ul>
            <div class="resp-tabs-container hor_1">
          
                <div>
                 
                 <div class="col-lg-4 col-md-4 col-sm-12" style="padding:0px;">
                         <div class="colom-parametre">
                         <h1>Parameters</h1>
                         <div class="para-input">
                         
                         <div class="form-group row">
                         <label for="inputEmail3" class="col-sm-4 col-form-label">Date Range</label>
                         <div class="col-sm-3" style="padding-right:0px;">
                         <input type="text" class="form-control" id="text">
                        </div>
                        
                        <div class="col-sm-1 ot">to</div>
                        <div class="col-sm-3" style="padding-right:0px;">
                         <input type="text" class="form-control" id="text">
                        </div>
                        </div>
                        
                        <div class="form-group row">
                         <label for="inputEmail3" class="col-sm-4 col-form-label">Client Group</label>
                         <div class="col-sm-8">
                           <select class="form-control" id="exampleFormControlSelect1">
                          <option>12975</option>
                          <option>2</option>
                          <option>3</option>
                          <option>4</option>
                          <option>5</option>
                        </select>
                        </div>
                        </div>
                        
                        <div class="form-group row">
                         <label for="inputEmail3" class="col-sm-4 col-form-label">Cat-Class</label>
                         <div class="col-sm-8">
                           <select class="form-control" id="exampleFormControlSelect1">
                          <option>120-87</option>
                          <option>2</option>
                          <option>3</option>
                          <option>4</option>
                          <option>5</option>
                        </select>
                        </div>
                        </div>
                        
                        <div class="form-group row">
                         <label for="inputEmail3" class="col-sm-4 col-form-label">Price Structure</label>
                         <div class="col-sm-8">
                           <select class="form-control" id="exampleFormControlSelect1">
                          <option>Daily</option>
                          <option>2</option>
                          <option>3</option>
                          <option>4</option>
                          <option>5</option>
                        </select>
                        </div>
                        </div>
                        
                        <div class="form-group row">
                         <label for="inputEmail3" class="col-sm-4 col-form-label">Price Level</label>
                         <div class="col-sm-4">
                          <div class="input-group spinner" data-trigger="spinner">
                          <input type="text" class="form-control text-center" value="1" data-rule="quantity">
                          <div class="input-group-addon">
                            <a href="javascript:;" class="spin-up" data-spin="up"><i class="fa fa-caret-up"></i></a>
                            <a href="javascript:;" class="spin-down" data-spin="down"><i class="fa fa-caret-down"></i></a>
                          </div>
                        </div>
                        </div>
                        </div>
                        
                        
                        <div class="form-group row">
                        <div class="col-sm-12 run"><h1><button type="button" class="btn btn-warning">Run</button></h1></div>
                        </div>
                         
                         </div>
                       
                         </div>   

                        </div>  
                
                     <!--summary-->
                     
                     <div class="col-lg-8 col-md-8 col-sm-12 summary-colom">
                         <div class="md-12" style="background:#fff;padding-top:15px;"><h1>Summary Statistics</h1></div>
                         
                         <div class="col-md-12" style="padding:0px;">
                         
                         <div class="col-lg-4 col-md-12 col-sm-12" style="padding:0px;">
                         
                         <div class="col-sm-12 epc-colom">
                         <div class="epc-value">+ $12,345  </div>
                         <div class="epc-des">estimated profit chg</div>
                         </div>
                         
                         <div class="col-sm-12 spc-colom">
                         <div class="spc-value">+ $12,345  </div>
                         <div class="spc-des">stdev profit chg</div>
                         </div>
                         
                         </div>
                         
                         <div class="col-lg-8 col-md-12 avch">
                         
                         <div class="col-sm-12 avg-colom">
                         <div class="avg-head"><h2>Rentals analysed</h2></div>
                         <div class="avg-value">1500</div>
                         </div>
                         
                         <div class="col-sm-12 avg-colom">
                         <div class="avg-head"><h2>Days analysed </h2></div>
                         <div class="avg-value"> 60</div>
                         </div>
                         
                         </div>
                         
                         </div>
                         
                         <div class="col-md-12 col-sm-12 chart-graph" style="padding:15px;">
                         <img src="app-content/images/demo_chart.jpg" alt="image" class="img-responsive"/>
                         
                         
                         </div>
                         
                         

                         </div>
             
             
             
                </div>
                 <!----------------------tab2---------------------->
                <div>
                
                <div class="col-lg-4 col-md-4 col-sm-12" style="padding:0px;">
                         <div class="colom-parametre">
                         <h1>Parameters</h1>
                         <div class="para-input">
                         
                         <div class="form-group row">
                         <label for="inputEmail3" class="col-sm-4 col-form-label">Data Input</label>
                         <div class="col-sm-8" style="padding-right:0px;">
                       
                          <div class="panel-body">
                         <input type="checkbox">
                         </div>
                       
                       
                       
                        </div>
                        
                        </div>
                        
                        <div class="form-group row">
                         <label for="inputEmail3" class="col-sm-4 col-form-label">Date Range</label>
                         
                         <div class="col-sm-8"> <label>01-01-2017 to 02-03-2017</label> </div>
                          
                       
                        </div>
                        
                        <div class="form-group row">
                         <label for="inputEmail3" class="col-sm-4 col-form-label">Client Group</label>
                         
                         <div class="col-sm-8"> <label>xyz</label> </div>
                         
                       
                        </div>
                        
                        <div class="form-group row">
                         <label for="inputEmail3" class="col-sm-4 col-form-label">Cat-Class</label>
                         <div class="col-sm-8"><label>xyz</label></div>
                        
                        
                        </div>
                        
                        <div class="form-group row">
                         <label for="inputEmail3" class="col-sm-4 col-form-label">Excess fleet</label>
                         
                         <div class="col-sm-8" style="padding-right:0px;">
                       
                          <div class="panel-body">
                         <input type="checkbox">
                         </div>
                       
                       
                       
                        </div>
                         
                        </div>
                        
                        
                        <div class="form-group row">
                        <div class="col-sm-12 run"><h1><button type="button" class="btn btn-warning">Calc Available for Sale</button></h1></div>
                        </div>
                         
                         </div>
                       
                         </div>   

                        </div>
                        
                        <!--summary-->
                
                         <div class="col-lg-8 col-md-8 col-sm-12 summary-colom">
                         <div class="md-12" style="background:#fff;padding-top:15px;"><h1>Summary Statistics</h1></div>
                         
                         <div class="col-md-12" style="padding:0px;">
                                             
                         
                         <div class="col-sm-4" style="padding-left:0px;">
                         <div class="dayrent-colom">
                         <div class="rent-value">- 230 <span class="dd-rent">Rental days</span>  </div>
                         <div class="rent-value">15 <span class="dd-rent">Cat-Classes</span>  </div>
                         
                          </div>
                         </div>
                         
                         <div class="col-sm-4" style="padding:0px;">
                         <div class="spc-colom">
                         <div class="spc-value">+ $590,400  </div>
                         <div class="spc-des">Usage reduction value</div>
                         </div>
                          </div>
                          
                          
                        <div class="col-sm-4" style="padding-right:0px;">
                         <div class="spc-colom">
                         <div class="spc-value">+ $100,530  </div>
                         <div class="spc-des">Rental cost savings</div>
                         </div>
                         </div>
                         
                         
                         
                         </div>
                         
                         <div class="col-md-12 col-sm-12 colom-editabledata" style="padding:15px;">
                        
                        

    <div class="table-responsive"> 

        <table class="table table-bordered table-striped">

            <thead>

                <tr class="tbl-heading-bg">

                    <th class="tbl-heading">Cat-Class</th>

                    <th class="tbl-heading">Avg % Usage Chg</th>

                    <th class="tbl-heading">Item</th>

                    <th class="tbl-heading">Resale Value Per Item</th>

                    <th class="tbl-heading">Usage Reduction Value</th>

                </tr>

            </thead>

            <tbody>

                <tr>

                    <td class="tbl-heading3">456-256</td>

                    <td class="tbl-heading3">5%</td>

                    <td class="tbl-heading3">25</td>

                   <td class="tbl-heading3">$ 5,000</td>

                    <td class="tbl-heading3"><strong>$ 6,250</strong></td>

                </tr>
                
                                <tr>

                    <td class="tbl-heading3">456-256</td>

                    <td class="tbl-heading3">5%</td>

                    <td class="tbl-heading3">25</td>

                   <td class="tbl-heading3">$ 5,000</td>

                    <td class="tbl-heading3"><strong>$ 6,250</strong></td>

                </tr>
                
                                <tr>

                    <td class="tbl-heading3">456-256</td>

                    <td class="tbl-heading3">5%</td>

                    <td class="tbl-heading3">25</td>

                   <td class="tbl-heading3">$ 5,000</td>

                    <td class="tbl-heading3"><strong>$ 6,250</strong></td>

                </tr>
                
                                <tr>

                    <td class="tbl-heading3">456-256</td>

                    <td class="tbl-heading3">5%</td>

                    <td class="tbl-heading3">25</td>

                   <td class="tbl-heading3">$ 5,000</td>

                    <td class="tbl-heading3"><strong>$ 6,250</strong></td>

                </tr>
                                <tr>

                    <td class="tbl-heading3">456-256</td>

                    <td class="tbl-heading3">5%</td>

                    <td class="tbl-heading3">25</td>

                   <td class="tbl-heading3">$ 5,000</td>

                    <td class="tbl-heading3"><strong>$ 6,250</strong></td>

                </tr>
                  <tr>

                    <td class="tbl-heading3">456-256</td>

                    <td class="tbl-heading3">5%</td>

                    <td class="tbl-heading3">25</td>

                   <td class="tbl-heading3">$ 5,000</td>

                    <td class="tbl-heading3"><strong>$ 6,250</strong></td>

                </tr>
                
                         <tr>

                    <td class="tbl-heading3">456-256</td>

                    <td class="tbl-heading3">5%</td>

                    <td class="tbl-heading3">25</td>

                   <td class="tbl-heading3">$ 5,000</td>

                    <td class="tbl-heading3"><strong>$ 6,250</strong></td>

                </tr>
                
                         <tr>

                    <td class="tbl-heading3">456-256</td>

                    <td class="tbl-heading3">5%</td>

                    <td class="tbl-heading3">25</td>

                   <td class="tbl-heading3">$ 5,000</td>

                    <td class="tbl-heading3"><strong>$ 6,250</strong></td>

                </tr>
                
                         <tr>

                    <td class="tbl-heading3">456-256</td>

                    <td class="tbl-heading3">5%</td>

                    <td class="tbl-heading3">25</td>

                   <td class="tbl-heading3">$ 5,000</td>

                    <td class="tbl-heading3"><strong>$ 6,250</strong></td>

                </tr>

               

            </tbody>

        </table>

    </div>


 <div class="col-lg-12" style="padding-right:0px;"><button type="button" class="btn btn-info pull-right" style="margin-left:10px;">Next</button>  <button type="button" class="btn btn-info  pull-right">Previous</button></div>            
                        
                         
                         
                         </div>
                         
                         

                         </div>
                 
                   
                
                 
                
                </div>


            </div>
        </div>
                    
                    
                    
                    
                    
                    </div>
                       

                    </div>
                    
                
    
         	<!--Responsive tab script start-->
    
	<!--Plug-in Initialisation-->
	<script type="text/javascript">
    $(document).ready(function() {
        //Horizontal Tab
        $('#parentHorizontalTab').easyResponsiveTabs({
            type: 'default', //Types: default, vertical, accordion
            width: 'auto', //auto or any width like 600px
            fit: true, // 100% fit in a container
            tabidentify: 'hor_1', // The tab groups identifier
            activate: function(event) { // Callback function if tab is switched
                var $tab = $(this);
                var $info = $('#nested-tabInfo');
                var $name = $('span', $info);
                $name.text($tab.text());
                $info.show();
            }
        });

        // Child Tab
        $('#ChildVerticalTab_1').easyResponsiveTabs({
            type: 'vertical',
            width: 'auto',
            fit: true,
            tabidentify: 'ver_1', // The tab groups identifier
            activetab_bg: '#fff', // background color for active tabs in this group
            inactive_bg: '#F5F5F5', // background color for inactive tabs in this group
            active_border_color: '#c1c1c1', // border color for active tabs heads in this group
            active_content_border_color: '#5AB1D0' // border color for active tabs contect in this group so that it matches the tab head border
        });

        //Vertical Tab
        $('#parentVerticalTab').easyResponsiveTabs({
            type: 'vertical', //Types: default, vertical, accordion
            width: 'auto', //auto or any width like 600px
            fit: true, // 100% fit in a container
            closed: 'accordion', // Start closed if in accordion view
            tabidentify: 'hor_1', // The tab groups identifier
            activate: function(event) { // Callback function if tab is switched
                var $tab = $(this);
                var $info = $('#nested-tabInfo2');
                var $name = $('span', $info);
                $name.text($tab.text());
                $info.show();
            }
        });
    });
</script>
  
      <script src="app-content/js/bootstrap-checkbox.js"></script>
    
      <script>
$(function() {
$('input[type="checkbox"]').checkboxpicker();
});
</script>
